.team-card{
    width: 15vw;
    height: 50vh;
    padding: 1vw;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,16,223,1) 100%);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-card-header{
    /* pb-0 pt-2 px-4 flex-col items-start */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.teams-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}